<div>
<!--  <button (click)="addItem()"-->
<!--          mat-flat-button-->
<!--          color="primary">add</button>-->
  <mat-card class="todo-card">
    <mat-card-header>
      <mat-card-title>TODO list</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <mat-form-field>
        <mat-label>For search type here</mat-label>
        <input matInput
               type="text"
               [(ngModel)]="searchValue"
               (input)="search()"
               placeholder="For ex., task#1">
        <button matSuffix
                mat-icon-button
                aria-label="Clear"
                *ngIf="searchValue"
                (click)="cancelSearch()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-checkbox [(ngModel)]="isDone"
                    (change)="toggleListDone()">Hide complete items</mat-checkbox>
    </mat-card-actions>
    <mat-card-content>
      <ul *ngIf="todoItems.length"
          class="list">
        <li *ngFor="let todoItem of todoItems">
          <div *ngIf="editMode !== todoItem.id"
               class="grid">
            <mat-checkbox (change)="toggleItemDone(todoItem)"
                          [checked]="todoItem.isDone"
                          [ngClass]="{'done': todoItem.isDone}"
                          class="l-h-70">{{todoItem.value}}</mat-checkbox>
            <div class="align-buttons">
              <button mat-stroked-button
                      color="primary"
                      [disabled]="todoItem.isDone"
                      (click)="editItem(todoItem)">edit</button>
              <button mat-stroked-button
                      color="warn"
                      [disabled]="todoItem.isDone"
                      (click)="removeItem(todoItem)">remove</button>
            </div>
          </div>
          <div *ngIf="editMode === todoItem.id"
               class="grid">
            <mat-form-field>
              <mat-label>Edit id {{todoItem.id}}:</mat-label>
              <input matInput
                     [(ngModel)]="todoItem.value"
                     placeholder="Something else?">
            </mat-form-field>
            <div class="align-buttons">
              <button mat-stroked-button
                      color="primary"
                      (click)="saveItem()">save</button>
              <button mat-stroked-button
                      color="warn"
                      (click)="cancelEdit(todoItem)">cancel</button>
            </div>
          </div>
        </li>
      </ul>
      <p *ngIf="!todoItems.length"
         class="no-items-message">No items</p>
    </mat-card-content>
  </mat-card>
</div>
