.todo-card {
  max-width: 450px;

  .mat-card-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.list {
  .view {
    display: block;

    &.m-edit { display: none; }
  }
  .edit {
    display: none;

    &.m-on { display: block; }
  }
  .done { text-decoration: line-through; }

  &__item { display: flex; }

  .m-hide { display: none; }
}

.no-items-message { text-align: center; }
