.todo-card {
  max-width: 500px;

  .mat-card-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.list {
  .view {
    display: block;

    &.m-edit { display: none; }
  }
  .edit {
    display: none;

    &.m-on { display: block; }
  }

  &__item { display: flex; }

  .m-hide { display: none; }
}

.done { text-decoration: line-through; }

.no-items-message { text-align: center; }

.grid {
  display: flex;
  justify-content: space-between;
  height: 70px;

  .align-buttons {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    width: 160px;
    justify-content: space-between;
  }
}

.l-h-70 { line-height: 70px; }
